/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
font-family: "Poppins", sans-serif; } 

img {
    width: 70%;
    height: auto;
    align-self: center;
}
.home-icon{
    color: #000;
    margin-right: 20px;
}
.logo-text{
    line-height: 5rem;
    /* margin-top: 20px;  */
}

/* sm */
@media (max-width: 768px) {
    .product-img {
        width: 100px!important;
        height: 150px!important;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width: 200px;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 250px;
    }
}
.logo {
    width: 70%;
    height: auto;
    align-self: center;
}
/* sm */
@media (min-width: 768px) {
    .logo {
        width: 7% !important 
        padding: 0px !important;
    }
}
@media (min-width: 100px) {
    .logo {
        width: 35px;
    }
}
/* md */
@media (min-width: 992px) {
    .logo {
        width: 35px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .logo {
        width: 7%;
        padding: 0px !important;
    }
}
.profile-pic{
    width: 5%;
    height: auto;
    /* margin-right: 20px; */
}
@media (min-width: 768px) {
    .profile-pic {
        width: 7px;
    }
}
@media (min-width: 100px) {
    .profile-pic {
        width: 35px;
    }
}
/* md */
@media (min-width: 992px) {
    .profile-pic {
        width: 35px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .profile-pic {
        width: 45px;
    }
}
.banner-center{
    align-self: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


li{
    list-style: none;
}
.center{
    text-align: center;
}
.view-all{
    width: 200px;
    margin: 0 auto;
}
.btn-design{
    /* background-image:  linear-gradient(to right, teal 0%, rgb(80, 223, 80) 51%, teal 100% ); */
    background-image:  linear-gradient(to right, #00c6ff 0%, #0072ff  51%,  #00c6ff 100%);
    /* background-image: linear-gradient(to right, #43C6AC 0%, #191654  51%, #43C6AC  100%); */

    /* background: #1FA2FF;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  */



    /* align-self: center; */
}
.btn-design{
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    width: auto;
    border-radius: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
}
.btn-design:hover{
    background-position: right center;
    color: white;
    text-decoration: none;
}



.laptops {
    padding: 15px;
    background-color: #32CE87;
    visibility: hidden;
  float:right;
  box-shadow: 2px 2px 2px #aaaaaa;
  border-radius: 5px;
border: 1px solid grey;
padding: 20px;
width: 200px;
height: 150px;
  }
  @media (min-width: 768px) {
    .laptops {
        width: 7px;
    }
}
@media (min-width: 100px) {
    .laptops {
        width: 35px;
    }
}
/* md */
@media (min-width: 992px) {
    .laptops {
        width: 35px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .laptops {
        margin-right: 200px;
    }
}
  body {
    padding: 10px 10px;
    overflow-x: hidden;
  }
  .circular_image{
   border-radius:50%
  }


.advantages{
    color: lime;
}
.content{
    margin-top: 5rem;
}
.linkbtn-about{
    width: 90px;
}
.linkbtn{
    
    border-radius: 10px;
    line-height: 25px;
    height: 35px;
}
.linkbtn:hover{
    /* background: teal; */
        margin: 0;
        color: #FFF !important;
        /* padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 13px;
        padding-right: 13px; */
        background-image:  linear-gradient(to right, #00c6ff 0%, #0072ff  51%,  #00c6ff 100%);
        width: auto;
        transition: 0.5s;
        background-size: 200% auto;
        background-position: right center;
        text-decoration: none;
}
.container{
    margin: 0;
    max-width: 100%;
   padding: 0;
}
.why-us-padding{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.img-fluid {
    max-width: 100%;
}

.custom-divider{
    height: 5px;
    background: rgb(255,145,0);
    background: linear-gradient(90deg, rgba(255,145,0,1) 0%, rgba(9,9,121,1) 15%, rgba(153,7,128,1) 39%, rgba(5,107,186,1) 59%, rgba(26,221,3,1) 79%, rgba(0,212,255,1) 100%);
}
.main-banner{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(img/jo-szczepanska-9OKGEVJiTKk-unsplash.jpg);
    background-size: cover;
    color: white;
    /* margin-left: 10px;
    margin-right: 10px; */
    justify-content: center;
}
.feature-holder {
    text-align: center;
    margin-bottom: 25px;
}
section.features {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: whitesmoke;
}
.feature-holder h3 {
    font-size: 1.2em;
}
.feature-holder p {
    font-size: 14px;
}
section.online-courses, .classroom-training, .reviews-slider, .page-content {
    padding-top: 35px;
    padding-bottom: 35px;
}
.online-courses-text-widget, .classroom-courses-text-widget, .review-text-widget {
    text-align: center;
}
.online-courses-text-widget h2, .classroom-courses-text-widget h2, .review-text-widget h2 {
    font-size: 1.3em;
}
.online-courses-text-widget p, .classroom-courses-text-widget p, .review-text-widget p {
    font-size: 14px;
}
.online-course-card, .review-text-widget {
    text-align: center;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.online-course-card .card-title {
    font-size: 1em;
    line-height: 20px;
}
.card.online-course-card .card-text {
    font-size: 14px;
}
.classroom-training, .page-content{
    background-color: whitesmoke;
}
.reviews-slider{
    background-color: #ececec;
}
.sign-up-form-sidebar .card-title {
    font-size: 1.2em;
}
.sign-up-form-sidebar .card-text {
    font-size: 14px;
}
.course-list-item {
    font-size: small;
    padding-top: 20px;
    color: black;
}
.course-list-item h5{
    font-size: 1.2em;
}
#review_slider_content li .card{
    text-align: center;
}
#review_slider_content li .card img{
    width: 50px;
    margin-bottom: 15px;
}
#review_slider_content li .card .card-title{
    font-size: 18px;
    font-weight: bold;
}
#review_slider_content li .card .star{
    color: orange;
    font-size: 14px;
}
#review_slider_content li .card .card-text{
    font-size: 14px;
}
footer.main-footer {
    background-color: #292929;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}
aside.footer-widget {
    margin-bottom: 25px;
}
aside.footer-widget h5 {
    font-size: 16px;
}
aside.footer-widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
aside.footer-widget ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #adadad;
    display: inline-block;
    margin-bottom: 5px;
}
address h2 {
    font-size: 20px;
}
address p {
    font-size: 14px;
}
section.copy {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
}
section.copy p{
    margin: 0px;
}
.google-map{
    padding-top: 56px;
}

.image{
    margin-top: 20px;
    width: auto;
    border-radius: 15px;

    padding: 0;
    /* border: 2px solid blueviolet ; */
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
}

.login-btn{
    display: inline;
    width: 30%;
    padding: 5px 10px;
}

.custom_nav{
    /* font-size: small; */
    box-shadow: 0px 2px 12px rgba(226, 223, 223, 0.3);
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    /*margin-left: 15px;
    margin-right: 25px;*/
}
.custom_nav ul.dropdown-menu {
    font-size: small;
}

.product-img{
    height: 200px;
    width: 150px;
}
a{
    text-decoration: none !important;
}


.product-imgs{
    width: 100% !important;
}
.cart-btn:hover{
    color: #FFF !important;
}